[flake8]
max-line-length = 118

max-complexity = 10
select = B,C,E,F,W,T4,D,B9

ignore =
    E203  
    W503  
    D100  
    D104  
    D107  
    
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    .mypy_cache,
    .pytest_cache,
    __init__.py,
    pyproject.toml
